body{

	 background: url('usinage2.jpg');
  background-color: #A6AFB4;

}

img{

	background-repeat: repeat;
}

p{
    color: red;
}

div.mid {
    position:absolute;
    left: 60%;
    top: 90%;
    width: 200px;
    height: 200px;
    margin-left: -80px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
}

div.milieu {
    position:absolute;
    left: 50%;
    top: 90%;
    width: 200px;
    height: 200px;
    margin-left: -80px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
}

div.center {
    position:absolute;
    left: 30%;
    top: 20%;
    width: 800px;
    height: 500px;
    margin-left: -80px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
}





div.centre {
    position:absolute;
    left: 50%;
    top: 70%;
    width: 200px;
    height: 200px;
    margin-left: -80px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
}

.bloc {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    -moz-box-shadow: 0 0 20px #555; 
    -webkit-box-shadow: 0 0 20px #555; 
    box-shadow: 0 0 20px #555; 
    width:140px;
    background-color: #A6AFB4;
}


#col1{

    background-color:black; 
    background-position: left; 
    width:130px;
    height: 920px;

}


a {
    text-decoration: none; /* Les liens ne seront plus soulignés */
    color: #A6AFB4;
    font-size:24px }

a:hover {
    color: white;
}

a:active /* Quand le visiteur clique sur le lien */ {
    background-color: #FFCC66;
}